body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.input-nav {
  background-color: #EFEFEF;
  width: 950px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

.primer-section {
  float: left;
}

.primer-section > i {
  margin: 13px 15px 5px 73px;
  color: #FFF;
  font-size: 21.5px;
  padding: 9px;
  border-radius: 100%;
  background: #BD081C;
  width: 20px;
  height: 20px;
}

.segunda-section {
  float:right;
  margin-right: 75px;
}

.segunda-section > i {
  margin: 13px 15px 5px 0px;
  color: #B5B5B5;
  font-size: 22px;
  padding: 9px;
  width: 20px;
  height: 20px;
}

.clear {
  clear: both;
  padding-top:5px;
}

section.clear > ol {
  list-style: none;
  text-align: center;
}

.categorias {
  display: inline-block;
  background: #3498db;
  color: white;
  padding: 20px 25px;;
  border-radius: 5px;
  margin: 3px 8px;
}

main > section {
  width: 300px;
  display: inline-block;
  background: lightblue;
  margin: 0 10px 0 20px;
}

hr.divi {
  border: .5px solid rgba(0,0,0,.1);
}
